Cython
autograd
einops==0.8.1
h5py
hydra-core==1.3.2
jax
jaxlib
optax
jupyterlab
lightning
lightning-utilities
matplotlib==3.10.0
memory_profiler
numba
numpy
omegaconf==2.3.0
optree==0.15.0
pandas
pytorch-lightning
scikit-learn 
scipy 
seaborn
torch
torchvision
torcheval==0.0.7
torchmetrics 
tqdm 
neurogym